   <!--<tbody>
          <tr>
      <td>{{boardData.num}}</td>
      <td>{{boardData.title}}</td>
      <td>{{boardData.writer}}</td>
      <td>{{boardData.date}}</td>
      <td>{{boardData.upvote}}</td>
       <td>{{boardData.hits}}</td>
          </tr>
          </tbody>-->
            <div class="row">
    <div class="col-md-8">

      <div class="row">
        <div class="col-md-2">
          {{boardData.num}}
        </div>
        <div class="col-md-10">
          {{boardData.title}}
        </div>
      </div>
    </div>
    <div class="col-md-4">

      <div class="row">
        <div class="col-md-3">
          {{boardData.writer}}
        </div>
        <div class="col-md-3">
          {{boardData.date}}
        </div>
        <div class="col-md-3">
          {{boardData.hits}}
        </div>
        <div class="col-md-3">
          {{boardData.upvote}}
        </div>
      </div>
    </div>
  </div>