<div class="container">
 
<table class="table table-striped">   
  <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성자</th>
      <th>날짜</th>
      <th>조회수</th>
      <th>추천</th>
    </tr>
  </thead>
  <tbody>
    <tr app-board-item>
 
    </tr>
  </tbody>
</table>
  <!--<app-board-item 
  *ngFor="let boardDataEl of boardDatas; let i = index"
   [boardData]="boardDataEl" [index]="i">
    </app-board-item>-->

  <a class="btn btn-default pull-right">
글쓰기
  </a>
  <div class="text-center">
    <ul class="pagination">
      <li>
        <a href="#">
          <</a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">></a></li>
    </ul>
  </div>
</div>